* {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    left: 0;
    top: 0;
    padding: 0;
    box-sizing: border-box;

}

input {
    width: 80%;
    height: 3em;
    font-size: 1em;
    text-indent: 1em;
    margin: 1em;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em;
    margin-bottom: 15em;

}

li {
    background-image: linear-gradient(180deg, #fafafa, #e6e6e6);
    padding: .8em;
    width: 80%;
    border-radius: 5px;
    border: solid 1px rgb(12, 12, 12);
    cursor: pointer;
}



@media screen and (max-width:768px) {
    input {
        width: 80%;
        height: 2.5em;
        font-size: 1em;
        text-indent: 1em;
        margin-bottom: 2em;
    }
  ul {
       gap: .75em;
   }
    
  li{
    font-size: .85em;
    width: 95%;

  }  
}