* {
    list-style: none;
    margin: 0;
    left: 0;
    top: 0;
    padding: 0;
    box-sizing: border-box;
   /* box-shadow: inset 0px 0px 2px rgba(255,0,0,0.8);*/


}
.header .buscar{
    display: flex;
    align-items: center;
    justify-content: center;
   /* padding: 0 1em;*/
    font-size: 1.4em;
    margin-left: .5em;
}

.header .header__button{
    font-size: 2em;

}
a{
    color: #fff;
}

/**** SISTEMA DE BARRA DE PESQUISA****/
.caixaPesq{
position: relative;
/*width: 100%;*/
}
.buscar{
    position: absolute;
    left: 0;
    top: 18%;
}
.pesquisar{
    width: 100%;
    height: 100%;
    font-size: 1em;
    text-indent: 3em;
    outline: none;
    display: none;

}
.pesquisar::-webkit-search-cancel-button{
    -webkit-appearance: none;
}


.closePesq{
    position: absolute;
    top: 18%;
    left: 95%;
    color: #4e1f99;
    display: flex;
    align-items: center;
    justify-content: center;
   /* padding: 0 1em;*/
    font-size: 1.4em;
    margin-right: .5em;
    padding: 0 .5em;
    display: none;

  
}

/**** SISTEMA DE BARRA DE PESQUISA****/










ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 1em;
    margin-bottom: 15em;

}

li {
    background-image: linear-gradient(180deg, #fafafaab, #e6e6e6);
    padding: .8em;
    width: 80%;
    border-radius: 5px;
    border: solid 1px rgb(12, 12, 12);
    cursor: pointer;
}




@media screen and (max-width:768px) {
    .closePesq{
        left: 85%;

    }
    
  ul {
       gap: .5em;
   }
    
  li{
    font-size: .85em;
    width: 100%;

  }  
}